@font-face {
    font-family: "halyard-display";
    src: url("./assets/fonts/fonnts.com-Halyard_Text_Light.otf");
}

body {
    font-family: "halyard-display", sans-serif;
    background: url("./assets/cover.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    margin: 0;
}

.cover-img {
    position: absolute;
    z-index: -1;
}

header {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100px;
    width: 300px;
    object-fit: cover;
}

nav {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

button {
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: larger;
    border: none;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    --width: 0%;
}

button::after {
    content: "";
    width: var(--width);
    height: 2px;
    background-color: #F5D95D;
    transition: 500ms ease-in-out;
}

.focused {
    transform: scale(1.1);
}

.focused::after {
    width: 100%;
}

.footer {
    background-color: rgba(0, 0, 0, 0.85);
    color: rgb(216, 216, 216);
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}

/* home css */

.home-heading {
    font-size: 6vw;
    font-weight: 100;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}

/* menu css */

.menu-heading {
    font-size: 3vw;
    font-weight: 100;
    text-align: center;
}

/* contact css */

.contact-page {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
    margin: 20px;
    padding: 10px 50px;
    border-radius: 10px;
}

.contact-heading {
    font-size: 3vw;
    font-weight: 100;
    text-align: center;
}

.address {
    font-size: 1.5em;
}