.menu-page {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.menu-heading {
    font-size: 3vw;
    font-weight: 100;
    text-align: center;
}

.dish-category {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.dish-category li {
    list-style: none;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.dish-category li:nth-of-type(3) {
    border-bottom: 4px solid #F6A81B;
}

.dishes {
    display: grid;
    padding: 10px 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.dish {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dish img {
    border-radius: 50px;
    width: 200px;
    height: 150px;
}

.dish-name {
    font-size: 1.5em;
    margin: 0;
    text-transform: capitalize;
}