@font-face {
    font-family: "halyard-display";
    src: url("./assets/fonts/fonnts.com-Halyard_Text_Light.otf");
}

body {
    font-family: "halyard-display", sans-serif;
    background: url("./assets/cover.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.logo {
    width: 350px;
    height: 80px;
    object-fit: cover;
}

nav {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

button {
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: larger;
    border: none;
    display: flex;
    flex-direction: column;
    --width: 0%;
    cursor: pointer;
}

button::after {
    content: "";
    width: var(--width);
    height: 2px;
    background-color: #F6A81B;
    transition: 500ms ease-in-out;
}

.focused {
    transform: scale(1.1);
}

.focused::after {
    width: 100%;
}

.footer {
    background-color: rgba(0, 0, 0, 0.85);
    color: rgb(216, 216, 216);
    text-align: center;
    padding: 15px 0;
    width: 100%;
    margin-bottom: 0;
    justify-self: flex-end;
}

/* home css */

.home-heading {
    font-size: 6vw;
    font-weight: 100;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}

/* menu css */
.menu-page {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.menu-heading {
    font-size: 3vw;
    font-weight: 100;
    text-align: center;
}

.dish-category {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.dish-category li {
    list-style: none;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.dish-category li:nth-of-type(3) {
    border-bottom: 4px solid #F6A81B;
}

.dishes {
    display: grid;
    padding: 10px 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.dish {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dish img {
    border-radius: 50px;
    width: 200px;
    height: 150px;
}

.dish-name {
    font-size: 1.5em;
    margin: 0;
    text-transform: capitalize;
}
/* contact css */

.contact-page {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
    margin: 20px;
    padding: 10px 50px;
    border-radius: 10px;
}

.contact-heading {
    font-size: 3vw;
    font-weight: 100;
    text-align: center;
}

.address {
    font-size: 1.5em;
}